{% extends "dashboard/base3.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload image to convert into pdf</legend>
                {{ form|crispy }}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="row form-row spacer">
                        <div class="col-2">
                            <label>{{form.name.label}}</label>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                {{form.name}}
                                <div class="input-group-append">
                                    <button class="btn btn-success add-form-row">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Convert</button>
            </div>
        </form>
    </div>
{% endblock content %}