{% extends "dashboard/base3.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h3>{{ assignment.Title }}</h3>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Submit Assignment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}