<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>freeChat | 404 | page not found</title>
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/v4-shims.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body style="background: white">
  <div class="card" style="box-shadow:none">
    <div class="card-body">
      <div class="empty-state" data-height="600" style="height: 600px;">
        <img class="img-fluid" src="assets/img/drawkit/drawkit-nature-man-colour.svg" alt="image">
        <h2 class="mt-0">404 | page not found</h2>
        <p class="lead">
         The page you were looking for could not be found.        </p>
        <a class="btn btn-outline-primary mt-4" href="index.html"><i class="fas fa-arrow-circle-left"></i> Go back to home</a>
      </div>
    </div>
  </div>
</body>

</html>
